<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.test.test">

    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"/>
    //service里弹对话框
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    //屏幕常亮
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    //旋转保护
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    //震动反馈
    <uses-permission android:name="android.permission.VIBRATE"/>

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>


    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:persistent="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.AppLockActivity"/>
        <activity
            android:name=".ui.UnlockActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"/>
        <activity android:name=".ui.SafeQuestionActivity"/>
        <activity android:name=".ui.AppLockSettingActivity"/>

        <service android:name=".service.AppLockService"/>
        <service android:name=".service.FakeNotificationService"/>
        <service
            android:name=".service.MyJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>

        <receiver
            android:name=".receiver.AntiUninstallReceiver"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin_sample"/>
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.TestReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.ACTION_USER_PRESENT"/>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>